#Header
{  
    display: inline-flex;    
}

.dropdown
{
    text-align: center;    
    position: relative;    
    background: rgb(10, 40, 59); 
    padding: 10px;
}

.dropdown-item
{
    color: whitesmoke;
    background-color:black;
}

button:not(:disabled) {
    color: white;
    cursor: pointer;
    background:rgb(10, 40, 59);
    border: none;
    display: -webkit-box;
}
#GitHubSlides
{
    background: linear-gradient(right, rgb(10, 40, 59), rgb(27, 141, 212)); 
}

.btn-extra
{    
    display: inline-grid;
    position: relative;
    text-align: left;
}
